body{
    font-size: 15px;
    flex: 1;
}

@media (min-width: 370px){
    .main{
        background-image: url("./images/mobile/image-hero.jpg");
        background-repeat: no-repeat; 
        background-size: cover; 
        width: 100vw;
        height: 140vh;
        margin-bottom: 20vh;
    }
    .img_second{
        background-image: url("./images/mobile/image-interactive.jpg");
        background-repeat: no-repeat; 
        background-size: cover; 
        width: 90vw;
        height: 60vh;
        margin-right: 2.5vw;
        margin-left: 2.5vw;
        margin-bottom: 10vh;
    }
    .texto_s{
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .texto_secundario{
        text-align: center;
        margin-top: 0;
    }

}
